<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Auth Template</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>XPNDBL</h1>
    <div id="landing">
      <p>This site is meant as a tool for people who are tired of budgets and want a different way of keeping on top of their expenses in relation to their income as well as optimizing debt reduction, short- and long-term savings, and wealth-building.  It was derived from the book Your Money or Your Life.</p>
    </div>
    <div id="login">
      <button onclick="lock.show();">Login</button>
    </div>

    <script src="https://cdn.auth0.com/js/lock/10.0/lock.min.js"></script>
    <script type="text/javascript">
      var lock = new Auth0Lock('FysXuz9J3dMdm7dZctSa5Y6wiRiep8Ng', 'xpndbl.auth0.com', {
        auth: {
          redirectUrl: 'https://xpndbl.com/callback',
          responseType: 'code',
          params: {
            scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
          }
        }
      });
    </script>
  </body>
</html>
